USE [cplottery]
GO
/****** Object:  Table [dbo].[LotteryResult]    Script Date: 12/05/2016 18:18:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LotteryResult](
	[AutoID] [int] IDENTITY(1,1) NOT NULL,
	[CPCode] [nvarchar](64) NOT NULL,
	[IssueNum] [nvarchar](64) NOT NULL,
	[ResultNum] [nvarchar](64) NULL,
	[Status] [int] NOT NULL,
	[UpdateTime] [datetime] NOT NULL,
	[CreateTime] [datetime] NOT NULL,
	[PizeNum] [int] NOT NULL,
	[UserNum] [int] NOT NULL,
	[SumNum] [int] NOT NULL,
	[OpenTime] [datetime] NOT NULL,
	[Num] [int] NULL,
 CONSTRAINT [PK_LottertResult] PRIMARY KEY CLUSTERED 
(
	[AutoID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'和值' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LotteryResult', @level2type=N'COLUMN',@level2name=N'SumNum'
GO
SET IDENTITY_INSERT [dbo].[LotteryResult] ON
INSERT [dbo].[LotteryResult] ([AutoID], [CPCode], [IssueNum], [ResultNum], [Status], [UpdateTime], [CreateTime], [PizeNum], [UserNum], [SumNum], [OpenTime], [Num]) VALUES (1, N'SD11X5', N'2016112901', N'01 02 03 04 05', 1, CAST(0x0000A6CD010E6DD7 AS DateTime), CAST(0x0000A6CD00926490 AS DateTime), 0, 0, 0, CAST(0x0000A6CD009523B0 AS DateTime), 1)
INSERT [dbo].[LotteryResult] ([AutoID], [CPCode], [IssueNum], [ResultNum], [Status], [UpdateTime], [CreateTime], [PizeNum], [UserNum], [SumNum], [OpenTime], [Num]) VALUES (2, N'SD11X5', N'2016112902', N'01 02 03 04 05', 1, CAST(0x0000A6CD010E6DD7 AS DateTime), CAST(0x0000A6CD009523B0 AS DateTime), 0, 0, 0, CAST(0x0000A6CD0097E2D0 AS DateTime), 2)
INSERT [dbo].[LotteryResult] ([AutoID], [CPCode], [IssueNum], [ResultNum], [Status], [UpdateTime], [CreateTime], [PizeNum], [UserNum], [SumNum], [OpenTime], [Num]) VALUES (3, N'SD11X5', N'2016112903', N'01 02 03 04 05', 1, CAST(0x0000A6CD010E6DD7 AS DateTime), CAST(0x0000A6CD0097E2D0 AS DateTime), 0, 0, 0, CAST(0x0000A6CD009AA1F0 AS DateTime), 3)
GO
print 'Processed 100 total records'
GO
print 'Processed 200 total records'
GO
print 'Processed 300 total records'
GO
print 'Processed 400 total records'
SET IDENTITY_INSERT [dbo].[LotteryResult] OFF
/****** Object:  Table [dbo].[LotteryPlays]    Script Date: 12/05/2016 18:18:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LotteryPlays](
	[AutoID] [int] IDENTITY(1,1) NOT NULL,
	[CPCode] [nvarchar](50) NOT NULL,
	[PID] [nvarchar](50) NOT NULL,
	[CreateTime] [datetime] NOT NULL,
	[CreateUserID] [nvarchar](50) NOT NULL,
	[PIDS] [nvarchar](300) NOT NULL
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[LotteryPlays] ON
INSERT [dbo].[LotteryPlays] ([AutoID], [CPCode], [PID], [CreateTime], [CreateUserID], [PIDS]) VALUES (149, N'SD11X5', N'1SANX', CAST(0x0000A6CC0112B123 AS DateTime), N'a3572f14-4bf9-48b8-bca1-d9df2d58089f', N'1SANX')
INSERT [dbo].[LotteryPlays] ([AutoID], [CPCode], [PID], [CreateTime], [CreateUserID], [PIDS]) VALUES (150, N'SD11X5', N'2QS', CAST(0x0000A6CC0112B123 AS DateTime), N'a3572f14-4bf9-48b8-bca1-d9df2d58089f', N'1SANX_2QS')
INSERT [dbo].[LotteryPlays] ([AutoID], [CPCode], [PID], [CreateTime], [CreateUserID], [PIDS]) VALUES (151, N'SD11X5', N'3ZHIXFS', CAST(0x0000A6CC0112B123 AS DateTime), N'a3572f14-4bf9-48b8-bca1-d9df2d58089f', N'1SANX_2QS_3ZHIXFS')
SET IDENTITY_INSERT [dbo].[LotteryPlays] OFF
/****** Object:  Table [dbo].[LotteryOrder]    Script Date: 12/05/2016 18:18:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LotteryOrder](
	[AutoID] [int] IDENTITY(1,1) NOT NULL,
	[LCode] [nvarchar](50) NOT NULL,
	[LID] [nvarchar](50) NOT NULL,
	[IssueNum] [nvarchar](64) NOT NULL,
	[Content] [nvarchar](300) NOT NULL,
	[Type] [nvarchar](300) NOT NULL,
	[CPCode] [nvarchar](50) NOT NULL,
	[CPName] [nvarchar](50) NOT NULL,
	[TypeName] [nvarchar](50) NOT NULL,
	[Num] [int] NOT NULL,
	[PMuch] [int] NOT NULL,
	[WinFee] [decimal](18, 2) NOT NULL,
	[PayFee] [decimal](18, 2) NOT NULL,
	[RPoint] [decimal](18, 2) NOT NULL,
	[UserID] [nvarchar](64) NOT NULL,
	[CreateTime] [datetime] NOT NULL,
	[Status] [int] NOT NULL,
	[IP] [nvarchar](50) NULL,
	[MType] [int] NOT NULL,
	[WinType] [int] NOT NULL
) ON [PRIMARY]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'0 元 1 角  2 分' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LotteryOrder', @level2type=N'COLUMN',@level2name=N'MType'
GO
SET IDENTITY_INSERT [dbo].[LotteryOrder] ON
INSERT [dbo].[LotteryOrder] ([AutoID], [LCode], [LID], [IssueNum], [Content], [Type], [CPCode], [CPName], [TypeName], [Num], [PMuch], [WinFee], [PayFee], [RPoint], [UserID], [CreateTime], [Status], [IP], [MType], [WinType]) VALUES (1, N'201612041112351513', N'13a0535c-627c-43c2-a961-b5d824b6a89e', N'2016120478', N'[11,10,09]', N'1SANX_2QS_3ZHIXFS', N'SD11X5', N'十一运夺金', N'三星前三_直选复式', 1, 1, CAST(0.00 AS Decimal(18, 2)), CAST(2.00 AS Decimal(18, 2)), CAST(0.04 AS Decimal(18, 2)), N'CF31A86D-281D-4F42-991F-5BB760B4B506', CAST(0x0000A6D200B7E845 AS DateTime), 0, N'::1', 0, 1)
SET IDENTITY_INSERT [dbo].[LotteryOrder] OFF
/****** Object:  Table [dbo].[LotteryBettAuto]    Script Date: 12/05/2016 18:18:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LotteryBettAuto](
	[AutoID] [int] IDENTITY(1,1) NOT NULL,
	[BCode] [nvarchar](64) NOT NULL,
	[CPCode] [nvarchar](50) NOT NULL,
	[CPName] [nvarchar](50) NOT NULL,
	[TypeName] [nvarchar](50) NOT NULL,
	[Type] [nvarchar](50) NOT NULL,
	[StartNum] [nvarchar](50) NOT NULL,
	[BettNum] [int] NOT NULL,
	[ComNum] [int] NOT NULL,
	[Content] [nvarchar](300) NOT NULL,
	[BMuch] [int] NOT NULL,
	[PMuch] [int] NOT NULL,
	[PayFee] [decimal](18, 2) NOT NULL,
	[TotalFee] [decimal](18, 2) NOT NULL,
	[WinFee] [decimal](18, 2) NOT NULL,
	[RPoint] [decimal](18, 2) NOT NULL,
	[UserID] [nvarchar](64) NOT NULL,
	[CreateTime] [datetime] NOT NULL,
	[UpdateTime] [datetime] NOT NULL,
	[IP] [nvarchar](50) NULL,
	[MType] [int] NOT NULL,
	[Status] [int] NOT NULL,
	[IsStart] [int] NOT NULL,
	[Num] [int] NOT NULL,
	[Profits] [decimal](18, 2) NOT NULL,
 CONSTRAINT [PK_LotteryBettAuto] PRIMARY KEY CLUSTERED 
(
	[AutoID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Lottery]    Script Date: 12/05/2016 18:18:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Lottery](
	[AutoID] [int] IDENTITY(1,1) NOT NULL,
	[CPName] [nvarchar](100) NOT NULL,
	[CPCode] [nvarchar](50) NOT NULL,
	[CreateTime] [datetime] NOT NULL,
	[Status] [int] NOT NULL,
	[CreateUserID] [nvarchar](64) NOT NULL,
	[Sort] [int] NOT NULL,
	[IconType] [int] NOT NULL,
	[ResultUrl] [nvarchar](300) NULL,
	[OpenTimes] [int] NULL,
	[OnSaleTime] [nvarchar](50) NULL,
	[CloseTime] [nvarchar](50) NULL,
	[SealTimes] [int] NULL,
	[Appkey] [nvarchar](50) NULL,
	[AppSecret] [nvarchar](50) NULL,
	[PeriodsNum] [int] NULL
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Lottery] ON
INSERT [dbo].[Lottery] ([AutoID], [CPName], [CPCode], [CreateTime], [Status], [CreateUserID], [Sort], [IconType], [ResultUrl], [OpenTimes], [OnSaleTime], [CloseTime], [SealTimes], [Appkey], [AppSecret], [PeriodsNum]) VALUES (1, N'十一运夺金', N'SD11X5', CAST(0x0000A6C80125B8C2 AS DateTime), 1, N'a3572f14-4bf9-48b8-bca1-d9df2d58089f', 1, 2, N'http://baidu.lecai.com/lottery/draw/view/20?agentId=5555', 7200, N'2016-11-08 08:53:00', N'2016-11-28 21:55:00', 6000, NULL, NULL, 78)
SET IDENTITY_INSERT [dbo].[Lottery] OFF
/****** Object:  Table [dbo].[M_RolePermission]    Script Date: 12/05/2016 18:18:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[M_RolePermission](
	[AutoID] [int] IDENTITY(1,1) NOT NULL,
	[RoleID] [nvarchar](50) NOT NULL,
	[MenuCode] [nvarchar](50) NULL,
	[CreateTime] [datetime] NOT NULL,
	[CreateUserID] [nvarchar](50) NULL,
 CONSTRAINT [PK_M_RolePermission] PRIMARY KEY CLUSTERED 
(
	[AutoID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[M_RolePermission] ON
INSERT [dbo].[M_RolePermission] ([AutoID], [RoleID], [MenuCode], [CreateTime], [CreateUserID]) VALUES (27, N'dd87ca0a-b425-4e1e-b7ec-7a1e02dad0f8', N'103000000', CAST(0x0000A6C0010DE2AE AS DateTime), N'CF31A86D-281D-4F42-991F-5BB760B4B506')
INSERT [dbo].[M_RolePermission] ([AutoID], [RoleID], [MenuCode], [CreateTime], [CreateUserID]) VALUES (28, N'dd87ca0a-b425-4e1e-b7ec-7a1e02dad0f8', N'104000000', CAST(0x0000A6C0010DE2AE AS DateTime), N'CF31A86D-281D-4F42-991F-5BB760B4B506')
INSERT [dbo].[M_RolePermission] ([AutoID], [RoleID], [MenuCode], [CreateTime], [CreateUserID]) VALUES (29, N'dd87ca0a-b425-4e1e-b7ec-7a1e02dad0f8', N'105000000', CAST(0x0000A6C0010DE2AE AS DateTime), N'CF31A86D-281D-4F42-991F-5BB760B4B506')
SET IDENTITY_INSERT [dbo].[M_RolePermission] OFF
/****** Object:  Table [dbo].[M_Role]    Script Date: 12/05/2016 18:18:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[M_Role](
	[AutoID] [int] IDENTITY(1,1) NOT NULL,
	[RoleID] [nvarchar](50) NULL,
	[Name] [nvarchar](50) NULL,
	[Status] [int] NOT NULL,
	[IsDefault] [int] NOT NULL,
	[Description] [nvarchar](4000) NULL,
	[CreateTime] [datetime] NULL,
	[CreateUserID] [nvarchar](50) NULL,
 CONSTRAINT [PK_M_Role] PRIMARY KEY CLUSTERED 
(
	[AutoID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[M_Role] ON
INSERT [dbo].[M_Role] ([AutoID], [RoleID], [Name], [Status], [IsDefault], [Description], [CreateTime], [CreateUserID]) VALUES (1, N'c8c65f85-491c-4e89-8522-6ef1c6c6d14c', N'管理员', 1, 0, N'所有权限', CAST(0x0000A6C0010602CC AS DateTime), N'')
INSERT [dbo].[M_Role] ([AutoID], [RoleID], [Name], [Status], [IsDefault], [Description], [CreateTime], [CreateUserID]) VALUES (2, N'dd87ca0a-b425-4e1e-b7ec-7a1e02dad0f8', N'代理用户', 1, 0, N'代理用户-菜单显示', CAST(0x0000A6C001067F44 AS DateTime), N'')
INSERT [dbo].[M_Role] ([AutoID], [RoleID], [Name], [Status], [IsDefault], [Description], [CreateTime], [CreateUserID]) VALUES (3, N'48eb0491-d92c-4664-ab27-37320ac7de38', N'会员用户', 1, 0, N'不包含 新增用户 部分报表 等功能', CAST(0x0000A6C00106B1FC AS DateTime), N'')
SET IDENTITY_INSERT [dbo].[M_Role] OFF
/****** Object:  StoredProcedure [dbo].[P_GetPagerDataColumn]    Script Date: 12/05/2016 18:18:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/***********************************************************
过程名称： P_GetPagerDataColumn
功能描述： 数据分页
参数说明： @tableName nvarchar(4000),     //表明
		   @columns nvarchar(4000),       //查询字段
		   @condition nvarchar(4000),     //条件
		   @key nvarchar(100),            //主键（排序）
		   @orderColumn nvarchar(4000),   //排序字段
		   @pageSize int,                 //分页数量
		   @pageIndex int,                //页码
		   @totalCount int output ,       //记录总数
		   @pageCount int output,         //总页码
		   @isAsc int                     //是否升序 1升序 0 倒序	 

调试记录： exec P_GetPagerDataColumn 
************************************************************/
Create PROCEDURE [dbo].[P_GetPagerDataColumn]
	@tableName nvarchar(4000),
	@columns nvarchar(4000),
	@condition nvarchar(4000),
	@key nvarchar(100),
	@orderColumn nvarchar(4000),
	@pageSize int,
	@pageIndex int,
	@totalCount int output ,
	@pageCount int output,
	@isAsc int
AS
declare @orderby nvarchar(20)
if(@isAsc=0)
begin
	set @orderby='desc'
end
else
begin
	set @orderby='asc'
end
declare @CommandSQL nvarchar(4000)
set @CommandSQL= 'select @totalCount=count(0) from '+@tableName+' where '+@condition
exec sp_executesql @CommandSQL,N'@totalCount int output',@totalCount output
set @pageCount=CEILING(@totalCount * 1.0/@pageSize)

if(@pageIndex=0 or @pageIndex=1)
begin 
	if @orderColumn!=''
	begin
		set	@orderColumn=@orderColumn+','
	end
	set @CommandSQL='select top '+str(@pageSize)+' '+@columns+' from '+@tableName+' where '+@condition+' order by '+@orderColumn+@key+' '+@orderby
end
else
begin
	if(@pageIndex>@pageCount)
	begin
		set @pageIndex=@pageCount
	end
	if @orderColumn!=''
	begin
		set	@orderColumn=@orderColumn+','
	end
	set @CommandSQL='select '+@columns+' from (select row_number() over( order by '+@orderColumn+@key+' '+@orderby+') as rowid , '+@columns+' from '+@tableName+' where '+@condition+'  ) as dt where rowid between '+str((@pageIndex-1) * @pageSize + 1)+' and '+str(@pageIndex* @pageSize)
end
exec (@CommandSQL)
GO
/****** Object:  StoredProcedure [dbo].[P_GetPagerData]    Script Date: 12/05/2016 18:18:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/***********************************************************
过程名称： P_GetPagerData
功能描述： 数据分页
参数说明： @tableName nvarchar(4000),     //表明
		   @columns nvarchar(4000),       //查询字段
		   @condition nvarchar(4000),     //条件
		   @key nvarchar(100),            //主键（排序）
		   @orderColumn nvarchar(4000),   //排序字段
		   @pageSize int,                 //分页数量
		   @pageIndex int,                //页码
		   @totalCount int output ,       //记录总数
		   @pageCount int output,         //总页码
		   @isAsc int                     //是否升序 1升序 0 倒序	 
调试记录： exec P_GetPagerData 
************************************************************/
Create PROCEDURE [dbo].[P_GetPagerData]
	@tableName nvarchar(4000),
	@columns nvarchar(4000),
	@condition nvarchar(4000),
	@key nvarchar(100),
	@orderColumn nvarchar(4000),
	@pageSize int,
	@pageIndex int,
	@totalCount int output ,
	@pageCount int output,
	@isAsc int
AS
declare @orderby nvarchar(20)
if(@isAsc=0)
begin
	set @orderby='desc'
end
else
begin
	set @orderby='asc'
end
declare @CommandSQL nvarchar(4000)
set @CommandSQL= 'select @totalCount=count(0) from '+@tableName+' where '+@condition


exec sp_executesql @CommandSQL,N'@totalCount int output',@totalCount output
set @pageCount=CEILING(@totalCount * 1.0/@pageSize)

if(@pageIndex=0 or @pageIndex=1)
begin 
	if @orderColumn!=''
	begin
		set	@orderColumn=@orderColumn+','
	end
	set @CommandSQL='select top '+str(@pageSize)+'  ''0'' as rowid, '+@columns+' from '+@tableName+' where '+@condition+' order by '+@orderColumn+@key+' '+@orderby
end
else
begin
	if(@pageIndex>@pageCount)
	begin
		set @pageIndex=@pageCount
	end
	if @orderColumn!=''
	begin
		set	@orderColumn=@orderColumn+','
	end
	set @CommandSQL='select * from (select row_number() over( order by '+@orderColumn+@key+' '+@orderby+') as rowid , '+@columns+' from '+@tableName+' where '+@condition+'  ) as dt where rowid between '+str((@pageIndex-1) * @pageSize + 1)+' and '+str(@pageIndex* @pageSize)
end 

exec (@CommandSQL)
GO
/****** Object:  Table [dbo].[Menu]    Script Date: 12/05/2016 18:18:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Menu](
	[AutoID] [int] IDENTITY(1,1) NOT NULL,
	[MenuCode] [varchar](50) NULL,
	[Name] [varchar](50) NULL,
	[Area] [varchar](50) NULL,
	[Controller] [varchar](50) NULL,
	[View] [varchar](50) NULL,
	[IcoPath] [varchar](200) NULL,
	[Type] [int] NULL,
	[IsHide] [int] NULL,
	[PCode] [varchar](50) NULL,
	[Sort] [int] NULL,
	[Layer] [int] NULL,
	[IsMenu] [int] NULL,
	[IsLimit] [int] NULL,
 CONSTRAINT [PK_Menu] PRIMARY KEY CLUSTERED 
(
	[AutoID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Menu] ON
INSERT [dbo].[Menu] ([AutoID], [MenuCode], [Name], [Area], [Controller], [View], [IcoPath], [Type], [IsHide], [PCode], [Sort], [Layer], [IsMenu], [IsLimit]) VALUES (1, N'101000000', N'首页', N'', N'Home', N'Index', N'', 1, 1, N'100000000', 1, 1, 1, 1)
INSERT [dbo].[Menu] ([AutoID], [MenuCode], [Name], [Area], [Controller], [View], [IcoPath], [Type], [IsHide], [PCode], [Sort], [Layer], [IsMenu], [IsLimit]) VALUES (2, N'102000000', N'活动', N'', N'Active', N'Index', N'', 1, 1, N'100000000', 2, 1, 1, 1)
INSERT [dbo].[Menu] ([AutoID], [MenuCode], [Name], [Area], [Controller], [View], [IcoPath], [Type], [IsHide], [PCode], [Sort], [Layer], [IsMenu], [IsLimit]) VALUES (3, N'103000000', N'用户管理', N'', N'User', N'UserList', N'', 1, 0, N'100000000', 3, 1, 1, 0)
SET IDENTITY_INSERT [dbo].[Menu] OFF
/****** Object:  Table [dbo].[M_Users]    Script Date: 12/05/2016 18:18:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[M_Users](
	[AutoID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [nvarchar](50) NOT NULL,
	[LoginName] [nvarchar](200) NOT NULL,
	[LoginPwd] [nvarchar](200) NOT NULL,
	[UserName] [varchar](50) NOT NULL,
	[CreateTime] [datetime] NOT NULL,
	[CreateUserID] [nvarchar](50) NULL,
	[Type] [int] NOT NULL,
	[Status] [int] NOT NULL,
	[Email] [nvarchar](50) NULL,
	[MobilePhone] [nvarchar](50) NULL,
	[SourceType] [int] NOT NULL,
	[AccountPwd] [nvarchar](50) NULL,
	[Avatar] [nvarchar](300) NULL,
	[UpdateTime] [datetime] NULL,
	[LastLoginIP] [nvarchar](50) NULL,
	[PrevLoginIP] [nvarchar](50) NULL,
	[SafeLevel] [int] NOT NULL,
	[IsAdmin] [int] NOT NULL,
	[RoleID] [varchar](50) NULL,
	[Rebate] [decimal](18, 2) NOT NULL,
	[UsableRebate] [decimal](18, 2) NOT NULL,
	[ChildCount] [int] NOT NULL,
	[Layers] [int] NOT NULL,
	[Description] [nvarchar](3000) NULL,
 CONSTRAINT [PK_M_Users] PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'0-会员 1 代理' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'M_Users', @level2type=N'COLUMN',@level2name=N'Type'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'0--手动新增 1 自动注册' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'M_Users', @level2type=N'COLUMN',@level2name=N'SourceType'
GO
SET IDENTITY_INSERT [dbo].[M_Users] ON
SET IDENTITY_INSERT [dbo].[M_Users] OFF
/****** Object:  Table [dbo].[M_UserRole]    Script Date: 12/05/2016 18:18:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[M_UserRole](
	[AutoID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [nvarchar](50) NULL,
	[RoleID] [nvarchar](50) NULL,
	[IsDefault] [int] NOT NULL,
	[Status] [int] NOT NULL,
	[CreateTime] [datetime] NOT NULL,
	[CreateUserID] [nvarchar](50) NULL,
 CONSTRAINT [PK_UserRole] PRIMARY KEY CLUSTERED 
(
	[AutoID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UsersLog]    Script Date: 12/05/2016 18:18:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[UsersLog](
	[AutoID] [int] NULL,
	[UserID] [nvarchar](50) NOT NULL,
	[CreateTime] [datetime] NOT NULL,
	[Remark] [varchar](500) NULL,
	[Type] [int] NOT NULL,
	[IP] [nvarchar](50) NOT NULL,
	[Sheng] [nvarchar](50) NULL,
	[Shi] [nvarchar](50) NULL,
	[Qu] [nvarchar](50) NULL,
	[IpName] [nvarchar](50) NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[UsersLog] ([AutoID], [UserID], [CreateTime], [Remark], [Type], [IP], [Sheng], [Shi], [Qu], [IpName]) VALUES (NULL, N'CF31A86D-281D-4F42-991F-5BB760B4B506', CAST(0x0000A6BF017B19D8 AS DateTime), NULL, 0, N'::1', NULL, NULL, NULL, NULL)
INSERT [dbo].[UsersLog] ([AutoID], [UserID], [CreateTime], [Remark], [Type], [IP], [Sheng], [Shi], [Qu], [IpName]) VALUES (NULL, N'CF31A86D-281D-4F42-991F-5BB760B4B506', CAST(0x0000A6BF0181A2AA AS DateTime), NULL, 0, N'::1', NULL, NULL, NULL, NULL)
INSERT [dbo].[UsersLog] ([AutoID], [UserID], [CreateTime], [Remark], [Type], [IP], [Sheng], [Shi], [Qu], [IpName]) VALUES (NULL, N'CF31A86D-281D-4F42-991F-5BB760B4B506', CAST(0x0000A6C0009068C8 AS DateTime), NULL, 0, N'::1', NULL, NULL, NULL, NULL)
/****** Object:  Table [dbo].[UserReply]    Script Date: 12/05/2016 18:18:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserReply](
	[AutoID] [int] IDENTITY(1,1) NOT NULL,
	[ReplyID] [nvarchar](64) NOT NULL,
	[GUID] [nvarchar](64) NOT NULL,
	[Title] [nvarchar](1000) NOT NULL,
	[Content] [nvarchar](3000) NOT NULL,
	[Status] [int] NOT NULL,
	[FromReplyID] [nvarchar](64) NULL,
	[FromReplyUserID] [nvarchar](64) NULL,
	[CreateTime] [datetime] NOT NULL,
	[CreateUserID] [nvarchar](64) NOT NULL,
	[Type] [int] NOT NULL,
 CONSTRAINT [PK_Reply] PRIMARY KEY CLUSTERED 
(
	[ReplyID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[UserReply] ON
INSERT [dbo].[UserReply] ([AutoID], [ReplyID], [GUID], [Title], [Content], [Status], [FromReplyID], [FromReplyUserID], [CreateTime], [CreateUserID], [Type]) VALUES (13, N'02E06B3C-0056-4F06-9272-21BE864EFC85', N'4859c0df-c5d7-4980-ae78-415c684605b4', N'今天中午聚会', N'份子钱上交', 0, N'', N'', CAST(0x0000A6C600AF8C33 AS DateTime), N'CF31A86D-281D-4F42-991F-5BB760B4B506', 0)
INSERT [dbo].[UserReply] ([AutoID], [ReplyID], [GUID], [Title], [Content], [Status], [FromReplyID], [FromReplyUserID], [CreateTime], [CreateUserID], [Type]) VALUES (4, N'0E3BA56A-140D-42B5-8008-B5C34BED216E', N'1c7a640d-dcb5-4e2b-8b82-1eae4b2ae17e', N'asd ', N'', 0, N'', N'', CAST(0x0000A6C600083610 AS DateTime), N'1c7a640d-dcb5-4e2b-8b82-1eae4b2ae17e', 0)
INSERT [dbo].[UserReply] ([AutoID], [ReplyID], [GUID], [Title], [Content], [Status], [FromReplyID], [FromReplyUserID], [CreateTime], [CreateUserID], [Type]) VALUES (9, N'47D67A7F-FBC2-4991-8885-83547FBE2E0F', N'1c7a640d-dcb5-4e2b-8b82-1eae4b2ae17e', N'fasdf', N'asdfasdfsadf', 0, N'', N'', CAST(0x0000A6C600122149 AS DateTime), N'1c7a640d-dcb5-4e2b-8b82-1eae4b2ae17e', 0)
SET IDENTITY_INSERT [dbo].[UserReply] OFF
/****** Object:  Table [dbo].[UserRelation]    Script Date: 12/05/2016 18:18:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserRelation](
	[AutoID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [nvarchar](50) NOT NULL,
	[ParentID] [nvarchar](50) NOT NULL,
	[Parents] [nvarchar](4000) NOT NULL,
	[CreateTime] [datetime] NOT NULL,
	[Layers] [int] NOT NULL
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[UserRelation] ON
INSERT [dbo].[UserRelation] ([AutoID], [UserID], [ParentID], [Parents], [CreateTime], [Layers]) VALUES (8, N'a3572f14-4bf9-48b8-bca1-d9df2d58089f', N'CF31A86D-281D-4F42-991F-5BB760B4B506', N'CF31A86D-281D-4F42-991F-5BB760B4B506', CAST(0x0000A6BF016C34CA AS DateTime), 2)
INSERT [dbo].[UserRelation] ([AutoID], [UserID], [ParentID], [Parents], [CreateTime], [Layers]) VALUES (9, N'1c7a640d-dcb5-4e2b-8b82-1eae4b2ae17e', N'CF31A86D-281D-4F42-991F-5BB760B4B506', N'CF31A86D-281D-4F42-991F-5BB760B4B506', CAST(0x0000A6C000E8070A AS DateTime), 2)
INSERT [dbo].[UserRelation] ([AutoID], [UserID], [ParentID], [Parents], [CreateTime], [Layers]) VALUES (10, N'4859c0df-c5d7-4980-ae78-415c684605b4', N'CF31A86D-281D-4F42-991F-5BB760B4B506', N'CF31A86D-281D-4F42-991F-5BB760B4B506', CAST(0x0000A6C500FBB786 AS DateTime), 2)
SET IDENTITY_INSERT [dbo].[UserRelation] OFF
/****** Object:  Table [dbo].[UserOrders]    Script Date: 12/05/2016 18:18:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserOrders](
	[AutoID] [int] IDENTITY(1,1) NOT NULL,
	[OrderCode] [nvarchar](100) NOT NULL,
	[SPName] [nvarchar](300) NULL,
	[BankName] [nvarchar](300) NULL,
	[Sku] [nvarchar](300) NULL,
	[Content] [nvarchar](1500) NULL,
	[CreateTime] [datetime] NULL,
	[Status] [int] NULL,
	[UserID] [nvarchar](64) NOT NULL,
	[PayType] [int] NOT NULL,
	[PayFee] [decimal](18, 4) NOT NULL,
	[TotalFee] [decimal](18, 2) NOT NULL,
	[OtherCode] [nvarchar](100) NULL,
	[Type] [int] NOT NULL,
	[Num] [decimal](18, 4) NOT NULL,
	[CreateUserID] [nvarchar](64) NOT NULL,
	[UpdUserID] [nvarchar](64) NULL,
	[UpdTime] [datetime] NOT NULL,
	[IP] [nvarchar](64) NULL,
 CONSTRAINT [UserOrders_OrderCode_unique1] UNIQUE NONCLUSTERED 
(
	[OrderCode] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[UserOrders] ON
SET IDENTITY_INSERT [dbo].[UserOrders] OFF
/****** Object:  Table [dbo].[UserBanks]    Script Date: 12/05/2016 18:18:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserBanks](
	[AutoID] [int] IDENTITY(1,1) NOT NULL,
	[TrueName] [nvarchar](50) NOT NULL,
	[BankName] [nvarchar](50) NOT NULL,
	[BankChild] [nvarchar](50) NOT NULL,
	[CardCode] [nvarchar](50) NOT NULL,
	[Status] [int] NOT NULL,
	[BankPre] [nvarchar](50) NOT NULL,
	[BankCity] [nvarchar](50) NOT NULL,
	[UserID] [nvarchar](50) NOT NULL,
	[CreateTime] [datetime] NOT NULL,
	[Type] [int] NOT NULL,
 CONSTRAINT [PK_UserBanks] PRIMARY KEY CLUSTERED 
(
	[AutoID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[UserBanks] ON
INSERT [dbo].[UserBanks] ([AutoID], [TrueName], [BankName], [BankChild], [CardCode], [Status], [BankPre], [BankCity], [UserID], [CreateTime], [Type]) VALUES (1, N'巴巴多斯', N'中国建设银行', N'啊三季度', N'6225143652145895621', 9, N'江苏省', N'南京市', N'CF31A86D-281D-4F42-991F-5BB760B4B506', CAST(0x0000A6C4017E827A AS DateTime), 3)
INSERT [dbo].[UserBanks] ([AutoID], [TrueName], [BankName], [BankChild], [CardCode], [Status], [BankPre], [BankCity], [UserID], [CreateTime], [Type]) VALUES (2, N'阿斯蒂芬', N'中国工商银行', N'阿斯蒂芬', N'6225123231231231231', 9, N'天津市', N'市辖县', N'CF31A86D-281D-4F42-991F-5BB760B4B506', CAST(0x0000A6C40180A972 AS DateTime), 1)
INSERT [dbo].[UserBanks] ([AutoID], [TrueName], [BankName], [BankChild], [CardCode], [Status], [BankPre], [BankCity], [UserID], [CreateTime], [Type]) VALUES (3, N'阿斯蒂芬', N'中国工商银行', N'阿斯蒂芬', N'6225123231231231232', 9, N'辽宁省', N'沈阳市', N'CF31A86D-281D-4F42-991F-5BB760B4B506', CAST(0x0000A6C4018137D5 AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[UserBanks] OFF
/****** Object:  Table [dbo].[UserAccount]    Script Date: 12/05/2016 18:18:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserAccount](
	[UserID] [nvarchar](50) NOT NULL,
	[AccountFee] [decimal](18, 2) NOT NULL,
	[InAccount] [decimal](18, 2) NOT NULL,
	[OutAccount] [decimal](18, 2) NOT NULL,
	[CreateTime] [datetime] NOT NULL,
	[UpdTime] [datetime] NULL,
	[InteFee] [decimal](18, 2) NOT NULL,
	[DiscountFee] [decimal](18, 2) NOT NULL,
	[InInteFee] [decimal](18, 2) NOT NULL,
	[OutInteFee] [decimal](18, 2) NOT NULL,
	[UpdUserID] [nvarchar](50) NULL,
 CONSTRAINT [PK_UserAccount] PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[UserAccount] ([UserID], [AccountFee], [InAccount], [OutAccount], [CreateTime], [UpdTime], [InteFee], [DiscountFee], [InInteFee], [OutInteFee], [UpdUserID]) VALUES (N'0f14e392-15a9-4722-9433-2f217d30daf4', CAST(0.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), CAST(0x0000A6C001276A43 AS DateTime), CAST(0x0000A6C001276A43 AS DateTime), CAST(0.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), N'')
INSERT [dbo].[UserAccount] ([UserID], [AccountFee], [InAccount], [OutAccount], [CreateTime], [UpdTime], [InteFee], [DiscountFee], [InInteFee], [OutInteFee], [UpdUserID]) VALUES (N'1c7a640d-dcb5-4e2b-8b82-1eae4b2ae17e', CAST(0.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), CAST(0x0000A6C000E8070A AS DateTime), CAST(0x0000A6C000E8070A AS DateTime), CAST(0.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), N'')
INSERT [dbo].[UserAccount] ([UserID], [AccountFee], [InAccount], [OutAccount], [CreateTime], [UpdTime], [InteFee], [DiscountFee], [InInteFee], [OutInteFee], [UpdUserID]) VALUES (N'4859c0df-c5d7-4980-ae78-415c684605b4', CAST(0.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), CAST(0x0000A6C500FBB786 AS DateTime), CAST(0x0000A6C500FBB786 AS DateTime), CAST(0.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), N'')
/****** Object:  Table [dbo].[FeedBack]    Script Date: 12/05/2016 18:18:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FeedBack](
	[AutoID] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](150) NOT NULL,
	[TipedID] [nvarchar](64) NULL,
	[TipedName] [nvarchar](64) NULL,
	[Type] [int] NOT NULL,
	[Status] [int] NOT NULL,
	[Remark] [nvarchar](4000) NULL,
	[CreateTime] [datetime] NOT NULL,
	[CreateUserID] [nvarchar](64) NOT NULL,
	[Content] [nvarchar](1000) NULL,
 CONSTRAINT [PK_FeedBack] PRIMARY KEY CLUSTERED 
(
	[AutoID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Active]    Script Date: 12/05/2016 18:18:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Active](
	[AutoID] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](300) NOT NULL,
	[Tips] [nvarchar](200) NULL,
	[Content] [text] NULL,
	[Img] [nvarchar](200) NULL,
	[BTime] [datetime] NOT NULL,
	[ETime] [datetime] NOT NULL,
	[CreateTime] [datetime] NOT NULL,
	[CreateUserID] [nvarchar](50) NOT NULL,
	[UpdTime] [datetime] NOT NULL,
	[UpdUserID] [nvarchar](50) NULL,
	[Status] [int] NOT NULL,
	[Type] [int] NOT NULL,
 CONSTRAINT [PK_Active] PRIMARY KEY CLUSTERED 
(
	[AutoID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Active] ON
SET IDENTITY_INSERT [dbo].[Active] OFF
/****** Object:  Table [dbo].[AccountOperateRecord]    Script Date: 12/05/2016 18:18:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AccountOperateRecord](
	[AutoID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [nvarchar](64) NOT NULL,
	[AccountChange] [decimal](18, 2) NOT NULL,
	[Account] [decimal](18, 2) NOT NULL,
	[AccountType] [int] NOT NULL,
	[PlayType] [int] NOT NULL,
	[CreateTime] [datetime] NOT NULL,
	[Remark] [nvarchar](300) NULL,
	[CreateUserID] [nvarchar](50) NULL,
	[IP] [nvarchar](50) NULL,
	[InAccount] [decimal](18, 2) NULL,
	[OutAccount] [decimal](18, 2) NULL,
	[Type] [int] NULL,
 CONSTRAINT [PK_AccountOperateRecord] PRIMARY KEY CLUSTERED 
(
	[AutoID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'0 增加 1扣减' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'AccountOperateRecord', @level2type=N'COLUMN',@level2name=N'Type'
GO
SET IDENTITY_INSERT [dbo].[AccountOperateRecord] ON
INSERT [dbo].[AccountOperateRecord] ([AutoID], [UserID], [AccountChange], [Account], [AccountType], [PlayType], [CreateTime], [Remark], [CreateUserID], [IP], [InAccount], [OutAccount], [Type]) VALUES (3, N'CF31A86D-281D-4F42-991F-5BB760B4B506', CAST(100.00 AS Decimal(18, 2)), CAST(200.00 AS Decimal(18, 2)), 0, 1, CAST(0x0000A6C70103A1EF AS DateTime), N'用户充值', N'CF31A86D-281D-4F42-991F-5BB760B4B506', NULL, CAST(200.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), NULL)
INSERT [dbo].[AccountOperateRecord] ([AutoID], [UserID], [AccountChange], [Account], [AccountType], [PlayType], [CreateTime], [Remark], [CreateUserID], [IP], [InAccount], [OutAccount], [Type]) VALUES (4, N'CF31A86D-281D-4F42-991F-5BB760B4B506', CAST(0.00 AS Decimal(18, 2)), CAST(300.00 AS Decimal(18, 2)), 2, 3, CAST(0x0000A6D200B2E763 AS DateTime), N'投注扣除余额', N'CF31A86D-281D-4F42-991F-5BB760B4B506', N'::1', CAST(0.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), 1)
INSERT [dbo].[AccountOperateRecord] ([AutoID], [UserID], [AccountChange], [Account], [AccountType], [PlayType], [CreateTime], [Remark], [CreateUserID], [IP], [InAccount], [OutAccount], [Type]) VALUES (5, N'CF31A86D-281D-4F42-991F-5BB760B4B506', CAST(0.00 AS Decimal(18, 2)), CAST(300.00 AS Decimal(18, 2)), 2, 3, CAST(0x0000A6D200B2E767 AS DateTime), N'投注扣除余额', N'CF31A86D-281D-4F42-991F-5BB760B4B506', N'::1', CAST(0.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), 1)
SET IDENTITY_INSERT [dbo].[AccountOperateRecord] OFF
/****** Object:  Table [dbo].[Plays]    Script Date: 12/05/2016 18:18:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Plays](
	[AutoID] [int] IDENTITY(1,1) NOT NULL,
	[PID] [nvarchar](50) NOT NULL,
	[PCode] [nvarchar](50) NOT NULL,
	[PName] [nvarchar](50) NOT NULL,
	[PLen] [int] NULL,
	[CreateTime] [datetime] NOT NULL,
	[Status] [int] NOT NULL,
	[Layer] [int] NOT NULL,
UNIQUE NONCLUSTERED 
(
	[PCode] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Plays] ON
INSERT [dbo].[Plays] ([AutoID], [PID], [PCode], [PName], [PLen], [CreateTime], [Status], [Layer]) VALUES (1, N'72FBA814-AE55-4A29-B6D2-85423E0F8F1C', N'1WUX', N'五星', 5, CAST(0x0000A6C900C50AF6 AS DateTime), 0, 1)
INSERT [dbo].[Plays] ([AutoID], [PID], [PCode], [PName], [PLen], [CreateTime], [Status], [Layer]) VALUES (2, N'33217F92-5879-42AC-86A7-9856CC9F91EE', N'1SIX', N'四星', 4, CAST(0x0000A6C900C516BD AS DateTime), 0, 1)
INSERT [dbo].[Plays] ([AutoID], [PID], [PCode], [PName], [PLen], [CreateTime], [Status], [Layer]) VALUES (3, N'14956AAF-C2A0-4160-A340-D1463A805E7A', N'1SANX', N'三星', 3, CAST(0x0000A6C900C53844 AS DateTime), 0, 1)
SET IDENTITY_INSERT [dbo].[Plays] OFF
/****** Object:  StoredProcedure [dbo].[P_InsertUserReplay]    Script Date: 12/05/2016 18:18:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[P_InsertUserReplay]
@ReplyID nvarchar(64),
@Guid nvarchar(3000),
@Title nvarchar(200),
@Content nvarchar(3000),
@FromReplyID nvarchar(64),
@CreateUserID nvarchar(64),
@Type int,
@FromReplyUserID nvarchar(64),
@HasChilds int,
@Result int  output ,
@ErrorMsg nvarchar(200) output
as
begin
select @Result=-1,@ErrorMsg='收件人不能为空!' 
if( @Guid!='' or @HasChilds>-1)
begin 
	Create table #tpusers(userid nvarchar(64))
	declare @sql nvarchar(3000) 
	if(@HasChilds>-1)
	begin
		insert into #tpusers select a.UserID  from UserRelation a join M_Users b on a.UserID=b.UserID where parentID=@CreateUserID and b.Status<>9
	end
	set @sql = 'insert into #tpusers select '''+Replace(@Guid,',',''' union insert into #tpusers select')+''''
	print @sql
	exec(@sql)
	insert into UserReply (ReplyID,GUID,[Content],Title,FromReplyID,FromReplyUserID,CreateUserID,Type) 
	select newid(),c.userid,@Content,@Title,@FromReplyID,@FromReplyUserID,@CreateUserID,@Type from (select  distinct userid from #tpusers) c
	select @Result=1,@ErrorMsg='发送成功!'
	drop table #tpusers
end 



end
GO
/****** Object:  StoredProcedure [dbo].[P_InsertUserBanks]    Script Date: 12/05/2016 18:18:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[P_InsertUserBanks]
@UserID nvarchar(50),
@Cardcode nvarchar(50),
@TrueName nvarchar(50),
@BankChild nvarchar(50),
@BankPre nvarchar(50),
@BankCity nvarchar(50),
@BankName nvarchar(50),
@Type int,
@Result int out ,
@ErrorMsg nvarchar(300) out
as

begin
select @ErrorMsg='',@Result=-1
if( (select count(1) from userBanks where  UserID=UserID )>4 ) 
begin
	select @ErrorMsg='每个游戏账户最多绑定 5 张银行卡',@Result=-1
	return
end
if(exists( select cardcode from userBanks where  Cardcode=@Cardcode ) ) 
begin
	select @ErrorMsg='银行卡号已被使用',@Result=-1
	return
end
else
begin
	insert into UserBanks(UserID,Cardcode,BankName,[Status],CreateTime,TrueName,BankChild,BankPre,BankCity,[Type]) 
             values(@UserID,@Cardcode,@BankName,0,getdate(),@TrueName,@BankChild,@BankPre,@BankCity,@Type) 
    select @ErrorMsg='新增成功',@Result=1
end
end
GO
/****** Object:  StoredProcedure [dbo].[P_InsertLottery]    Script Date: 12/05/2016 18:18:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE  proc [dbo].[P_InsertLottery]
@CPName varchar(300),
@CPCode varchar(300),
@UserID varchar(300),
@ReturnUrl varchar(300),
@IconType int,
@OpenTimes int,
@CloseTime nvarchar(50),
@OnSaleTime nvarchar(50),
@SealTimes int ,
@PeriodsNum int,
@Result int output,
@ErrMsg nvarchar(100) output
as 
begin

if(@CPName='' or @CPCode='')
begin
select @Result=0,@ErrMsg='彩票名称或彩票编码不能为空'
end
else
begin
	if EXISTS( select CPName from Lottery where CPName=@CPName or CPCode=@CPCode)
	begin
		select @Result=0,@ErrMsg='彩票名称或彩票编码已存在!'
	end
	else
	begin
		declare @origin int
		select @origin=ISNULL(MAX(Sort),0) from Lottery where [status]<>9
		set @origin=@origin+1
		select *  from Lottery
		insert into Lottery(CPName,CPCode,CreateTime,Status,CreateUserID,Sort,IconType,ResultUrl,OpenTimes,OnSaleTime,CloseTime,SealTimes,PeriodsNum) 
		values(@CPName,@CPCode,getdate(),0,@UserID,@origin,@IconType,@Result,@OpenTimes,@OnSaleTime,@CloseTime,@SealTimes,@PeriodsNum)
		select @Result=AutoID,@ErrMsg='!' from Lottery where  CPCode=@CPCode 
	end
end

end
GO
/****** Object:  StoredProcedure [dbo].[UpdateSD11X5Result]    Script Date: 12/05/2016 18:18:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[UpdateSD11X5Result]
@Content nvarchar(50),
@IssueName nvarchar(50),
@CPCode nvarchar(50)
as

begin
declare @err int ,@LID nvarchar(50),@UserID nvarchar(50)
set @err=0
begin try
begin tran
	--修改奖励
	update  lotteryResult set status=1,ResultNum=@Content where  IssueNum=@IssueName and CPCode=@CPCode
	set @err+=@@ERROR
	--修改订单状态
	update LotteryOrder set [Status]=1  where  IssueNum=@IssueName and CPCode=@CPCode
	--计算奖金
	select top 1 @LID=isnull(LID,''),@UserID=UserID from LotteryOrder where IssueNum=@IssueName and CPCode=@CPCode and Status=0
	while @LID<>''
	begin
		update LotteryOrder set Status=1 where LID=@LID
		
		
		
		select top 1 @LID=isnull(LID,''),@UserID=UserID from LotteryOrder where IssueNum=@IssueName and CPCode=@CPCode and Status=0
	end
	
commit tran
end try
begin catch
if(@err>0)
begin
	rollback tran
end 
end catch

end
GO
/****** Object:  StoredProcedure [dbo].[UpdateLotteryStatus]    Script Date: 12/05/2016 18:18:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE  proc [dbo].[UpdateLotteryStatus]
@Status int,
@CPCode nvarchar(50)

as
begin
declare @AutoID int,@tempStatus int
select top 1 @AutoID =AutoID,@tempStatus=Status from LotteryResult where  CPCode=@CPCode  
and OpenTime>=DATEADD(MI,-2,GETDATE())  and  CreateTime<=CONVERT(varchar(100), GETDATE(), 111)+' 23:59:59'  and  OpenTime<=CONVERT(varchar(100), GETDATE(), 111)+' 23:59:59'
if(@AutoID>0 and @tempStatus=0)
begin
	Update LotteryResult set Status=@Status  where  CPCode=@CPCode  and AutoID=@AutoID
end
end
GO
/****** Object:  StoredProcedure [dbo].[M_UpdateUserRole]    Script Date: 12/05/2016 18:18:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/***********************************************************
过程名称： M_UpdateUserRole
功能描述： 编辑员工角色
参数说明：	 
编写日期： 2015/10/21 
调试记录： exec M_UpdateUserRole 
************************************************************/
Create PROCEDURE [dbo].[M_UpdateUserRole]
@UserID nvarchar(64),
@RoleID nvarchar(64),
@OpreateID nvarchar(64)
AS

begin tran
declare @Err int =0 ,@OldRoleID nvarchar(64)

select @OldRoleID=RoleID from M_Users where UserID=@UserID 
--默认管理员角色至少保留一人
if(@OldRoleID is not null and @OldRoleID<>'' and exists(select AutoID from M_Role where RoleID=@OldRoleID and IsDefault=1))
begin
	if not exists(select AutoID from M_UserRole where RoleID=@OldRoleID and Status=1 and UserID<>@UserID)
	begin
		rollback tran
		return
	end
end

Update M_Users set RoleID=@RoleID where UserID=@UserID
set @Err+=@@error

--角色记录
Update M_UserRole set Status=9 where UserID=@UserID and Status=1

insert into M_UserRole(UserID,RoleID,Status,CreateUserID) values(@UserID,@RoleID,1,@OpreateID)

set @Err+=@@error

if(@Err>0)
begin
	rollback tran
end 
else
begin
	commit tran
end
GO
/****** Object:  StoredProcedure [dbo].[M_UpdateRolePermission]    Script Date: 12/05/2016 18:18:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/***********************************************************
过程名称： M_UpdateRolePermission
功能描述： 编辑角色权限
参数说明：	  
程序作者： Michaux
调试记录： exec M_UpdateRolePermission 
************************************************************/
Create PROCEDURE [dbo].[M_UpdateRolePermission]
@RoleID nvarchar(64),
@Permissions nvarchar(4000)='',
@UserID nvarchar(64)
AS

begin tran

set @Permissions='''' + REPLACE(@Permissions,',',''',''') + ''''

declare @Err int=0

delete from M_RolePermission where RoleID=@RoleID

exec('insert into M_RolePermission(RoleID,MenuCode,CreateUserID) select '''+@RoleID+''',MenuCode,'''+@UserID+''' from Menu where MenuCode in('+@Permissions+')')
set @Err+=@@error

if(@Err>0)
begin
	rollback tran
end 
else
begin
	commit tran
end
GO
/****** Object:  StoredProcedure [dbo].[M_UpdateLotteryPlays]    Script Date: 12/05/2016 18:18:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/***********************************************************
过程名称： M_UpdateLotteryPlays
功能描述： 编辑彩票玩法
参数说明：	  
程序作者： Michaux
调试记录： exec M_UpdateLotteryPlays 
************************************************************/
CREATE PROCEDURE [dbo].[M_UpdateLotteryPlays]
@CPCode nvarchar(64),
@Permissions nvarchar(4000)='',
@UserID nvarchar(64)
AS

begin tran

--set @Permissions='''' + REPLACE(@Permissions,',',''',''') + ''''

declare @plays varchar(4000) ,@i int,@play nvarchar(300)

declare @templay table(pcode varchar(100),pids varchar(300))
select @plays=@Permissions,@i=CHARINDEX(',',@Permissions)
while @i>0
begin
declare @pids nvarchar(300),@code nvarchar(100)
	set @play=SUBSTRING(@plays,0,@i)
	select @pids=@play,@code=@play
	if(CHARINDEX('_',@play)>0)
	begin
	set @code=reverse(SUBSTRING(reverse(@play) ,0,CHARINDEX('_',reverse(@play))))
	end  
	insert into @templay values(@code,@pids)	
	set @plays=SUBSTRING(@plays,@i+1,len(@plays))
	set @i=CHARINDEX(',',@plays,0)
end

 
declare @Err int=0

delete from LotteryPlays where CPCode=@CPCode

insert into LotteryPlays(CPCode,PID,CreateUserID,PIDS) 
select @CPCode,pcode,@UserID,pids from @templay 
 
set @Err+=@@error

if(@Err>0)
begin
	rollback tran
end 
else
begin
	commit tran
end
GO
/****** Object:  StoredProcedure [dbo].[M_OrderAuditting]    Script Date: 12/05/2016 18:18:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE Proc [dbo].[M_OrderAuditting]
@OrderCode nvarchar(100),
@OtherCode nvarchar(100),
@PayFee decimal(18,4)
as
begin 

begin tran

declare @Err int ,@Day int,@Type int ,@Num int,@Account decimal(18,4),
	@IP nvarchar(64),@UserID nvarchar(64) 
set @Err=0
--客户订单已支付
if(@OrderCode<>'' and exists(select AutoID from UserOrders where OrderCode=@OrderCode and status=1) )
begin
	rollback tran
	return
end

--变量赋值
select  @UserID=UserID,@Num=TotalFee,@IP=IP from UserOrders where OrderCode=@OrderCode

--更新后台订单状态为支付
update UserOrders set status=1,PayFee=@PayFee where OrderCode=@OrderCode
set @Err+=@@error  
--充值
 select  @Account=AccountFee  from  UserAccount where  USerID=@UserID
update UserAccount set AccountFee=AccountFee+@Num,InAccount= InAccount+@Num where  USerID=@UserID
set @Err+=@@error
--新增金币变动日志
Insert into [AccountOperateRecord]([UserID],[AccountChange],[Account],InAccount,[AccountType],[PlayType],[CreateTime],[CreateUserID],[Remark],IP)
 VALUES (@UserID,@Num,@Account,@Account,0,1,GETDATE(),@UserID ,'用户充值',@IP)
 set @Err+=@@error

if(@Err>0)
begin
	rollback tran
end 
else
begin
	commit tran
end
end
GO
/****** Object:  StoredProcedure [dbo].[M_InsertUser]    Script Date: 12/05/2016 18:18:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE  Proc  [dbo].[M_InsertUser]
@UserID nvarchar(50),
@UserName nvarchar(50),
@LoginName nvarchar(50),
@LoginPwd  nvarchar(50),
@Type int=0,
@RoleID nvarchar(50)='',
@SourceType int  =0,
@Rebate decimal(18,2)=0.00,
@ParentID nvarchar(50)='',
@Description nvarchar(3000)='',
@ErrorMsg nvarchar(300) output,
@Result int  output 
as

select @ErrorMsg='',@Result=0
begin try
begin tran

if(@UserName='' or @LoginName='' or @LoginPwd='')
begin
	select @ErrorMsg='用户昵称 密码 登陆账号不能为空.',@Result=-4
end
else
begin
	if((select count(1) from M_Users where LoginName=@LoginName)>0)
	begin
		select @ErrorMsg='登陆账号已存在.',@Result=-4
	end
	else
	begin
		if(@ParentID<>'')
		begin
			if(select UsableRebate-@Rebate from M_Users where UserID=@ParentID)>0
			begin
				declare @parents varchar(4000),@layers int set @parents='' set @layers=0
				update M_Users set UsableRebate=UsableRebate-@Rebate,ChildCount=ChildCount+1,UpdateTime=GETDATE() where UserID=@ParentID
				
				select @layers=Layers+1 from M_Users where UserID=@ParentID
				--@Rebate/10
				insert into M_Users(UserID,UserName,LoginName,LoginPwd,SourceType,[type],Rebate,UsableRebate,RoleID,SafeLevel,Layers,[Description])
				values(@UserID,@UserName,@LoginName,@LoginPwd,@SourceType,@Type,@Rebate,@Rebate,@RoleID,55,@layers,@Description)
 
				select @parents=ISNULL(Parents,'') from  UserRelation where UserID=@ParentID
  
				if(len(@parents)>0)
					set @parents=@parents+',' 
				set @parents=@parents+@ParentID
	 
				insert into UserRelation(UserID,ParentID,Parents,CreateTime,Layers) values(@UserID,@ParentID,@parents,GETDATE(),@layers)		
 
				insert into UserAccount(UserID,AccountFee,InAccount,OutAccount,InteFee,DisCountFee,InInteFee,OutInteFee) values(
				@UserID,0,0,0,0,0,0,0
				) 
				select @ErrorMsg='',@Result=1
			end
			else
				select @ErrorMsg='后台返点已变更,输入返点过大.',@Result=-1
		end
		else
		begin 	
		--@Rebate/10		
			insert into M_Users(UserID,UserName,LoginName,LoginPwd,SourceType,[type],Rebate,UsableRebate,RoleID,SafeLevel,Layers,[Description])
				values(@UserID,@UserName,@LoginName,@LoginPwd,@SourceType,@Type,@Rebate,@Rebate,@RoleID,55,1,@Description)
			
			insert into UserAccount(UserID,AccountFee,InAccount,OutAccount,InteFee,DisCountFee,InInteFee,OutInteFee) values(
			@UserID,0,0,0,0,0,0,0
			) 	
			select @ErrorMsg='',@Result=1
		end
	end 
end
commit tran
end try
begin catch
if @@error>0 
begin 
	rollback
	select @ErrorMsg='内部信息错误,请联系管理员',@Result=-2
 end
end catch
GO
/****** Object:  StoredProcedure [dbo].[M_GetM_UserToLogin]    Script Date: 12/05/2016 18:18:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/***********************************************************
过程名称： M_GetM_UserToLogin
功能描述： 验证云销系统登录并返回信息
参数说明：	 
编写日期： 2016/4/20
程序作者： Michaux
调试记录： exec M_GetM_UserToLogin 'admin','F7D931C986841F4301D971C59F804409',0
************************************************************/
CREATE PROCEDURE [dbo].[M_GetM_UserToLogin]
@LoginName nvarchar(200),
@LoginPWD nvarchar(64),
@SourceType int =0,
@Result int output  --1:查询正常；2：用户名不存在；3：用户密码有误
AS

declare @UserID nvarchar(64),@RoleID nvarchar(64),@isAdmin int

IF  EXISTS(select UserID from M_Users where LoginName=@LoginName  and Status<>9)
begin
	select @UserID = UserID,@RoleID=RoleID,@isAdmin=IsAdmin from M_Users 
	where LoginName=@LoginName and LoginPWD=@LoginPWD  and Status<>9 --and SourceType=@SourceType
	
	if(@UserID is not null)
	begin
		set @Result=1
		--会员信息
		select * from M_Users where UserID=@UserID
		--权限信息
		if(@isAdmin=1)
		begin
			select * from Menu where IsLimit=0 
		end
		else
		begin
		if(@SourceType=0)
		begin
			select m.* from Menu m left join M_RolePermission r on r.MenuCode=m.MenuCode 
			where    RoleID=isnull(@RoleID,'') and IsLimit=0 
		end
		else begin
		select m.* from Menu m left join M_RolePermission r on r.MenuCode=m.MenuCode 
			where   (RoleID=isnull(@RoleID,'') and IsLimit=0 )
		end  
		end
	end
	else
		set @Result=3
end
else
set @Result=2
GO
/****** Object:  StoredProcedure [dbo].[M_DeleteRole]    Script Date: 12/05/2016 18:18:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/***********************************************************
过程名称： M_DeleteRole
功能描述： 删除角色
参数说明：	 
程序作者： Michaux
调试记录： exec M_DeleteRole 
************************************************************/
Create PROCEDURE [dbo].[M_DeleteRole]
@RoleID nvarchar(64),
@Result int output --0：失败，1：成功，10002 角色存在员工
AS

begin tran

set @Result=0

declare @Err int=0

--角色存在员工
if exists(select AutoID from M_UserRole where RoleID=@RoleID and Status=1)
begin
	set @Result=10002
	rollback tran
	return
end

set @Err+=@@error

Update M_Role set Status=9 where RoleID=@RoleID  and IsDefault = 0

delete from M_RolePermission where RoleID=@RoleID

if(@Err>0)
begin
	set @Result=0
	rollback tran
end 
else
begin
	set @Result=1
	commit tran
end
GO
/****** Object:  StoredProcedure [dbo].[M_BindOtherAccount]    Script Date: 12/05/2016 18:18:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE Proc [dbo].[M_BindOtherAccount]
@UserID varchar(50),
@AccountCode varchar(50),
@Type int,--1Emial 2 MobilePhone
@ErrorMsg   nvarchar(300) output,
@Result  int  output 
as
begin
select @Result=-1 ,@ErrorMsg=''
declare @count int,@acct int 
if(@Type=1 )
begin
	select  @count=COUNT(1) from M_Users where Status<>9 and Email=@AccountCode and UserID!=@UserID
	select  @acct= case isnull(Email,'') when '' then SafeLevel+15 else SafeLevel end from M_Users where  UserID=@UserID
end
else
begin
	select  @count=COUNT(1) from M_Users where Status<>9 and MobilePhone=@AccountCode and UserID!=@UserID
	select  @acct= case isnull(MobilePhone,'') when '' then SafeLevel+15 else SafeLevel end from M_Users where  UserID=@UserID
end
if(@count=0)
begin
	if(@Type=1 )
		update M_Users set Email=@AccountCode ,UpdateTime=getdate(),SafeLevel=@acct where UserID=@UserID
	else
		update M_Users set MobilePhone=@AccountCode ,UpdateTime=getdate(),SafeLevel=@acct where UserID=@UserID
		
	select @Result=1 ,@ErrorMsg='绑定成功'
end
else
begin
select @Result=-1 ,@ErrorMsg=@AccountCode+'已被使用,不能重复绑定'
end

end
GO
/****** Object:  StoredProcedure [dbo].[InsertLotteryResultAll]    Script Date: 12/05/2016 18:18:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[InsertLotteryResultAll]
as
begin
declare @i int,@issue nvarchar(64),@da datetime
select @i=0,@issue=CONVERT(varchar(100), GETDATE(), 112),@da=CONVERT(varchar(100), GETDATE(), 23)+' 08:53:00'
while @i<78
begin
	set @i=@i+1
	declare @issuenum nvarchar(50) ,@opentime datetime
	set @issuenum=@issue+right('00'+cast(@i as nvarchar),2)
	set @opentime=DATEADD(MI,10,@da) 
	if(not exists(select issueNum  from LotteryResult where CPCode='SD11X5' and IssueNum=@issuenum))
	begin
		insert into LotteryResult values('SD11X5',@issuenum,'',0,GETDATE(),@da,0,0,0,@opentime,@i)
	end
	set @da= @opentime

end

end
GO
/****** Object:  StoredProcedure [dbo].[InsertLotteryOrder]    Script Date: 12/05/2016 18:18:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[InsertLotteryOrder]
@OrderCode nvarchar(64),
@OrderID nvarchar(64),
@IssueNum nvarchar(50),
@IP nvarchar(20),
@UserID nvarchar(64), 
@CPCode nvarchar(50), 
@CPName nvarchar(50), 
@PayFee decimal(18,2), 
@Content nvarchar(500), 
@TypeName nvarchar(100),
@PMuch int,
@RPoint decimal(18,2),
@Type nvarchar(300),
@Num int,
@UsedisFee int,
@ErrorMsg nvarchar(500) output,
@Result int output
as
begin
select  @ErrorMsg='',@Result=0
declare @AccountFee decimal(18,2),@discount decimal(18,2),@WinType int

if(exists(select *  from LotteryResult where IssueNum=@IssueNum and OpenTime>GETDATE()))
begin
declare @ss decimal(18,2)
	select  @AccountFee=AccountFee,@discount=DiscountFee ,@WinType=0 from UserAccount where UserID=@UserID
	set @ss=@AccountFee
	if(@UsedisFee>0)
	begin
		set @ss=@discount
		set @WinType=1
	end 		
	if(@ss>@PayFee)
	begin
		INSERT INTO [LotteryOrder]([LCode],[LID],[IssueNum],[IP],[CreateTime],[Status],[UserID],[CPCode],[CPName],[PayFee],[Content],[TypeName],[PMuch],RPoint,Type,Num,WinType)
		VALUES (@OrderCode,@OrderID,@IssueNum,@IP,getdate(), 0,@UserID, @CPCode, @CPName, @PayFee, @Content, @TypeName,@PMuch,@RPoint,@Type,@Num,@WinType)
		if(@UsedisFee>0)
		begin
			update UserAccount set DiscountFee=DiscountFee-@PayFee  where  UserID=@UserID
			Insert into [AccountOperateRecord]([UserID],[AccountChange],[Account],OutAccount,[Type],[AccountType],[PlayType],[CreateTime],[CreateUserID],[Remark],IP)
			VALUES (@UserID,@PayFee,@ss,@PayFee,1,2,3,GETDATE(),@UserID ,'投注扣除优惠券',@IP)
		end
		else
		begin
			update UserAccount set AccountFee=AccountFee-@PayFee where  UserID=@UserID
			Insert into [AccountOperateRecord]([UserID],[AccountChange],[Account],OutAccount,[Type],[AccountType],[PlayType],[CreateTime],[CreateUserID],[Remark],IP)
					VALUES (@UserID,@PayFee,@ss,@PayFee,1,2,3,GETDATE(),@UserID ,'投注扣除余额',@IP)
		end
		select @Result=1,@ErrorMsg=''
	end
	else
	begin
		select @Result=-1,@ErrorMsg='余额不足'
	end
end
else 
begin
	select @Result=-1,@ErrorMsg=@IssueNum+'期已封盘'	
end
end
GO
/****** Object:  Default [DF_Table_1_InAccount]    Script Date: 12/05/2016 18:18:16 ******/
ALTER TABLE [dbo].[AccountOperateRecord] ADD  CONSTRAINT [DF_Table_1_InAccount]  DEFAULT ((0.00)) FOR [AccountChange]
GO
/****** Object:  Default [DF_AccountOperateRecord_Account]    Script Date: 12/05/2016 18:18:16 ******/
ALTER TABLE [dbo].[AccountOperateRecord] ADD  CONSTRAINT [DF_AccountOperateRecord_Account]  DEFAULT ((0.00)) FOR [Account]
GO
/****** Object:  Default [DF_Table_1_type]    Script Date: 12/05/2016 18:18:16 ******/
ALTER TABLE [dbo].[AccountOperateRecord] ADD  CONSTRAINT [DF_Table_1_type]  DEFAULT ((0)) FOR [AccountType]
GO
/****** Object:  Default [DF_AccountOperateRecord_PlayType]    Script Date: 12/05/2016 18:18:16 ******/
ALTER TABLE [dbo].[AccountOperateRecord] ADD  CONSTRAINT [DF_AccountOperateRecord_PlayType]  DEFAULT ((0)) FOR [PlayType]
GO
/****** Object:  Default [DF_AccountOperateRecord_CreateTime]    Script Date: 12/05/2016 18:18:16 ******/
ALTER TABLE [dbo].[AccountOperateRecord] ADD  CONSTRAINT [DF_AccountOperateRecord_CreateTime]  DEFAULT (getdate()) FOR [CreateTime]
GO
/****** Object:  Default [DF_AccountOperateRecord_Remark]    Script Date: 12/05/2016 18:18:16 ******/
ALTER TABLE [dbo].[AccountOperateRecord] ADD  CONSTRAINT [DF_AccountOperateRecord_Remark]  DEFAULT ('') FOR [Remark]
GO
/****** Object:  Default [DF_AccountOperateRecord_CreateUserID]    Script Date: 12/05/2016 18:18:16 ******/
ALTER TABLE [dbo].[AccountOperateRecord] ADD  CONSTRAINT [DF_AccountOperateRecord_CreateUserID]  DEFAULT (N'sysAdmin') FOR [CreateUserID]
GO
/****** Object:  Default [DF_AccountOperateRecord_InAccount]    Script Date: 12/05/2016 18:18:16 ******/
ALTER TABLE [dbo].[AccountOperateRecord] ADD  CONSTRAINT [DF_AccountOperateRecord_InAccount]  DEFAULT ((0.00)) FOR [InAccount]
GO
/****** Object:  Default [DF_AccountOperateRecord_OutAccount]    Script Date: 12/05/2016 18:18:16 ******/
ALTER TABLE [dbo].[AccountOperateRecord] ADD  CONSTRAINT [DF_AccountOperateRecord_OutAccount]  DEFAULT ((0.00)) FOR [OutAccount]
GO
/****** Object:  Default [DF_Active_BTIme]    Script Date: 12/05/2016 18:18:16 ******/
ALTER TABLE [dbo].[Active] ADD  CONSTRAINT [DF_Active_BTIme]  DEFAULT (getdate()) FOR [BTime]
GO
/****** Object:  Default [DF_Active_CreateTime]    Script Date: 12/05/2016 18:18:16 ******/
ALTER TABLE [dbo].[Active] ADD  CONSTRAINT [DF_Active_CreateTime]  DEFAULT (getdate()) FOR [CreateTime]
GO
/****** Object:  Default [DF_Active_UpdTime]    Script Date: 12/05/2016 18:18:16 ******/
ALTER TABLE [dbo].[Active] ADD  CONSTRAINT [DF_Active_UpdTime]  DEFAULT (getdate()) FOR [UpdTime]
GO
/****** Object:  Default [DF_Active_Status]    Script Date: 12/05/2016 18:18:16 ******/
ALTER TABLE [dbo].[Active] ADD  CONSTRAINT [DF_Active_Status]  DEFAULT ((0)) FOR [Status]
GO
/****** Object:  Default [DF_Active_Type]    Script Date: 12/05/2016 18:18:16 ******/
ALTER TABLE [dbo].[Active] ADD  CONSTRAINT [DF_Active_Type]  DEFAULT ((0)) FOR [Type]
GO
/****** Object:  Default [DF_FeedBack_Type]    Script Date: 12/05/2016 18:18:16 ******/
ALTER TABLE [dbo].[FeedBack] ADD  CONSTRAINT [DF_FeedBack_Type]  DEFAULT ((0)) FOR [Type]
GO
/****** Object:  Default [DF_FeedBack_Status]    Script Date: 12/05/2016 18:18:16 ******/
ALTER TABLE [dbo].[FeedBack] ADD  CONSTRAINT [DF_FeedBack_Status]  DEFAULT ((0)) FOR [Status]
GO
/****** Object:  Default [DF_FeedBack_CreateTime]    Script Date: 12/05/2016 18:18:16 ******/
ALTER TABLE [dbo].[FeedBack] ADD  CONSTRAINT [DF_FeedBack_CreateTime]  DEFAULT (getdate()) FOR [CreateTime]
GO
/****** Object:  Default [DF_FeedBack_Content]    Script Date: 12/05/2016 18:18:16 ******/
ALTER TABLE [dbo].[FeedBack] ADD  CONSTRAINT [DF_FeedBack_Content]  DEFAULT ('') FOR [Content]
GO
/****** Object:  Default [DF_Lottery_CreateTime]    Script Date: 12/05/2016 18:18:16 ******/
ALTER TABLE [dbo].[Lottery] ADD  CONSTRAINT [DF_Lottery_CreateTime]  DEFAULT (getdate()) FOR [CreateTime]
GO
/****** Object:  Default [DF_Lottery_Status]    Script Date: 12/05/2016 18:18:16 ******/
ALTER TABLE [dbo].[Lottery] ADD  CONSTRAINT [DF_Lottery_Status]  DEFAULT ((1)) FOR [Status]
GO
/****** Object:  Default [DF_Lottery_Sort]    Script Date: 12/05/2016 18:18:16 ******/
ALTER TABLE [dbo].[Lottery] ADD  CONSTRAINT [DF_Lottery_Sort]  DEFAULT ((0)) FOR [Sort]
GO
/****** Object:  Default [DF_Lottery_IcoType]    Script Date: 12/05/2016 18:18:16 ******/
ALTER TABLE [dbo].[Lottery] ADD  CONSTRAINT [DF_Lottery_IcoType]  DEFAULT ((0)) FOR [IconType]
GO
/****** Object:  Default [DF_Lottery_ResultUrl]    Script Date: 12/05/2016 18:18:16 ******/
ALTER TABLE [dbo].[Lottery] ADD  CONSTRAINT [DF_Lottery_ResultUrl]  DEFAULT ('') FOR [ResultUrl]
GO
/****** Object:  Default [DF_Lottery_Opennum]    Script Date: 12/05/2016 18:18:16 ******/
ALTER TABLE [dbo].[Lottery] ADD  CONSTRAINT [DF_Lottery_Opennum]  DEFAULT ((12)) FOR [OpenTimes]
GO
/****** Object:  Default [DF_Lottery_SealTimes]    Script Date: 12/05/2016 18:18:16 ******/
ALTER TABLE [dbo].[Lottery] ADD  CONSTRAINT [DF_Lottery_SealTimes]  DEFAULT ((10)) FOR [SealTimes]
GO
/****** Object:  Default [DF_Lottery_PeriodsNum]    Script Date: 12/05/2016 18:18:16 ******/
ALTER TABLE [dbo].[Lottery] ADD  CONSTRAINT [DF_Lottery_PeriodsNum]  DEFAULT ((1)) FOR [PeriodsNum]
GO
/****** Object:  Default [DF_LotteryBettAuto_BMuch]    Script Date: 12/05/2016 18:18:16 ******/
ALTER TABLE [dbo].[LotteryBettAuto] ADD  CONSTRAINT [DF_LotteryBettAuto_BMuch]  DEFAULT ((1)) FOR [BMuch]
GO
/****** Object:  Default [DF_LotteryBettAuto_PMuch]    Script Date: 12/05/2016 18:18:16 ******/
ALTER TABLE [dbo].[LotteryBettAuto] ADD  CONSTRAINT [DF_LotteryBettAuto_PMuch]  DEFAULT ((1)) FOR [PMuch]
GO
/****** Object:  Default [DF_LotteryBettAuto_PayFee]    Script Date: 12/05/2016 18:18:16 ******/
ALTER TABLE [dbo].[LotteryBettAuto] ADD  CONSTRAINT [DF_LotteryBettAuto_PayFee]  DEFAULT ((0.00)) FOR [PayFee]
GO
/****** Object:  Default [DF_LotteryBettAuto_TotalFee]    Script Date: 12/05/2016 18:18:16 ******/
ALTER TABLE [dbo].[LotteryBettAuto] ADD  CONSTRAINT [DF_LotteryBettAuto_TotalFee]  DEFAULT ((0.00)) FOR [TotalFee]
GO
/****** Object:  Default [DF_LotteryBettAuto_CreateTime]    Script Date: 12/05/2016 18:18:16 ******/
ALTER TABLE [dbo].[LotteryBettAuto] ADD  CONSTRAINT [DF_LotteryBettAuto_CreateTime]  DEFAULT (getdate()) FOR [CreateTime]
GO
/****** Object:  Default [DF_LotteryBettAuto_MType]    Script Date: 12/05/2016 18:18:16 ******/
ALTER TABLE [dbo].[LotteryBettAuto] ADD  CONSTRAINT [DF_LotteryBettAuto_MType]  DEFAULT ((0)) FOR [MType]
GO
/****** Object:  Default [DF_LotteryBettAuto_Status]    Script Date: 12/05/2016 18:18:16 ******/
ALTER TABLE [dbo].[LotteryBettAuto] ADD  CONSTRAINT [DF_LotteryBettAuto_Status]  DEFAULT ((0)) FOR [Status]
GO
/****** Object:  Default [DF_LotteryBettAuto_IsStart]    Script Date: 12/05/2016 18:18:16 ******/
ALTER TABLE [dbo].[LotteryBettAuto] ADD  CONSTRAINT [DF_LotteryBettAuto_IsStart]  DEFAULT ((0)) FOR [IsStart]
GO
/****** Object:  Default [DF_LotteryBettAuto_Num]    Script Date: 12/05/2016 18:18:16 ******/
ALTER TABLE [dbo].[LotteryBettAuto] ADD  CONSTRAINT [DF_LotteryBettAuto_Num]  DEFAULT ((1)) FOR [Num]
GO
/****** Object:  Default [DF_LotteryBettAuto_Profits]    Script Date: 12/05/2016 18:18:16 ******/
ALTER TABLE [dbo].[LotteryBettAuto] ADD  CONSTRAINT [DF_LotteryBettAuto_Profits]  DEFAULT ((0.00)) FOR [Profits]
GO
/****** Object:  Default [DF_LotteryOrder_PMuch]    Script Date: 12/05/2016 18:18:16 ******/
ALTER TABLE [dbo].[LotteryOrder] ADD  CONSTRAINT [DF_LotteryOrder_PMuch]  DEFAULT ((1)) FOR [PMuch]
GO
/****** Object:  Default [DF_LotteryOrder_WinFee]    Script Date: 12/05/2016 18:18:16 ******/
ALTER TABLE [dbo].[LotteryOrder] ADD  CONSTRAINT [DF_LotteryOrder_WinFee]  DEFAULT ((0.00)) FOR [WinFee]
GO
/****** Object:  Default [DF_LotteryOrder_PayFee]    Script Date: 12/05/2016 18:18:16 ******/
ALTER TABLE [dbo].[LotteryOrder] ADD  CONSTRAINT [DF_LotteryOrder_PayFee]  DEFAULT ((0.00)) FOR [PayFee]
GO
/****** Object:  Default [DF_LotteryOrder_RPotion]    Script Date: 12/05/2016 18:18:16 ******/
ALTER TABLE [dbo].[LotteryOrder] ADD  CONSTRAINT [DF_LotteryOrder_RPotion]  DEFAULT ((0.00)) FOR [RPoint]
GO
/****** Object:  Default [DF_LotteryOrder_CreateTime]    Script Date: 12/05/2016 18:18:16 ******/
ALTER TABLE [dbo].[LotteryOrder] ADD  CONSTRAINT [DF_LotteryOrder_CreateTime]  DEFAULT (getdate()) FOR [CreateTime]
GO
/****** Object:  Default [DF_LotteryOrder_Status]    Script Date: 12/05/2016 18:18:16 ******/
ALTER TABLE [dbo].[LotteryOrder] ADD  CONSTRAINT [DF_LotteryOrder_Status]  DEFAULT ((0)) FOR [Status]
GO
/****** Object:  Default [DF_LotteryOrder_IP]    Script Date: 12/05/2016 18:18:16 ******/
ALTER TABLE [dbo].[LotteryOrder] ADD  CONSTRAINT [DF_LotteryOrder_IP]  DEFAULT ('') FOR [IP]
GO
/****** Object:  Default [DF_LotteryOrder_MType]    Script Date: 12/05/2016 18:18:16 ******/
ALTER TABLE [dbo].[LotteryOrder] ADD  CONSTRAINT [DF_LotteryOrder_MType]  DEFAULT ((0)) FOR [MType]
GO
/****** Object:  Default [DF_LotteryOrder_WinType]    Script Date: 12/05/2016 18:18:16 ******/
ALTER TABLE [dbo].[LotteryOrder] ADD  CONSTRAINT [DF_LotteryOrder_WinType]  DEFAULT ((1)) FOR [WinType]
GO
/****** Object:  Default [DF_LotteryPlays_CreateTime]    Script Date: 12/05/2016 18:18:16 ******/
ALTER TABLE [dbo].[LotteryPlays] ADD  CONSTRAINT [DF_LotteryPlays_CreateTime]  DEFAULT (getdate()) FOR [CreateTime]
GO
/****** Object:  Default [DF_LottertResult_ResultNum]    Script Date: 12/05/2016 18:18:16 ******/
ALTER TABLE [dbo].[LotteryResult] ADD  CONSTRAINT [DF_LottertResult_ResultNum]  DEFAULT ('') FOR [ResultNum]
GO
/****** Object:  Default [DF_LottertResult_Status]    Script Date: 12/05/2016 18:18:16 ******/
ALTER TABLE [dbo].[LotteryResult] ADD  CONSTRAINT [DF_LottertResult_Status]  DEFAULT ((0)) FOR [Status]
GO
/****** Object:  Default [DF_LottertResult_UpdateTime]    Script Date: 12/05/2016 18:18:16 ******/
ALTER TABLE [dbo].[LotteryResult] ADD  CONSTRAINT [DF_LottertResult_UpdateTime]  DEFAULT (getdate()) FOR [UpdateTime]
GO
/****** Object:  Default [DF_LottertResult_CreateTime]    Script Date: 12/05/2016 18:18:16 ******/
ALTER TABLE [dbo].[LotteryResult] ADD  CONSTRAINT [DF_LottertResult_CreateTime]  DEFAULT (getdate()) FOR [CreateTime]
GO
/****** Object:  Default [DF_LottertResult_UserNum]    Script Date: 12/05/2016 18:18:16 ******/
ALTER TABLE [dbo].[LotteryResult] ADD  CONSTRAINT [DF_LottertResult_UserNum]  DEFAULT ((0)) FOR [UserNum]
GO
/****** Object:  Default [DF_Table_1_Sum]    Script Date: 12/05/2016 18:18:16 ******/
ALTER TABLE [dbo].[LotteryResult] ADD  CONSTRAINT [DF_Table_1_Sum]  DEFAULT ((0)) FOR [SumNum]
GO
/****** Object:  Default [DF_LotteryResult_OpenTime]    Script Date: 12/05/2016 18:18:16 ******/
ALTER TABLE [dbo].[LotteryResult] ADD  CONSTRAINT [DF_LotteryResult_OpenTime]  DEFAULT (getdate()) FOR [OpenTime]
GO
/****** Object:  Default [DF_LotteryResult_Intindx]    Script Date: 12/05/2016 18:18:16 ******/
ALTER TABLE [dbo].[LotteryResult] ADD  CONSTRAINT [DF_LotteryResult_Intindx]  DEFAULT ((0)) FOR [Num]
GO
/****** Object:  Default [DF_M_Role_Status]    Script Date: 12/05/2016 18:18:16 ******/
ALTER TABLE [dbo].[M_Role] ADD  CONSTRAINT [DF_M_Role_Status]  DEFAULT ((0)) FOR [Status]
GO
/****** Object:  Default [DF_M_Role_IsDefault]    Script Date: 12/05/2016 18:18:16 ******/
ALTER TABLE [dbo].[M_Role] ADD  CONSTRAINT [DF_M_Role_IsDefault]  DEFAULT ((0)) FOR [IsDefault]
GO
/****** Object:  Default [DF_M_Role_CreateTime]    Script Date: 12/05/2016 18:18:16 ******/
ALTER TABLE [dbo].[M_Role] ADD  CONSTRAINT [DF_M_Role_CreateTime]  DEFAULT (getdate()) FOR [CreateTime]
GO
/****** Object:  Default [DF_M_RolePermission_CreateTime]    Script Date: 12/05/2016 18:18:16 ******/
ALTER TABLE [dbo].[M_RolePermission] ADD  CONSTRAINT [DF_M_RolePermission_CreateTime]  DEFAULT (getdate()) FOR [CreateTime]
GO
/****** Object:  Default [DF_UserRole_IsDefault]    Script Date: 12/05/2016 18:18:16 ******/
ALTER TABLE [dbo].[M_UserRole] ADD  CONSTRAINT [DF_UserRole_IsDefault]  DEFAULT ((0)) FOR [IsDefault]
GO
/****** Object:  Default [DF_UserRole_Status]    Script Date: 12/05/2016 18:18:16 ******/
ALTER TABLE [dbo].[M_UserRole] ADD  CONSTRAINT [DF_UserRole_Status]  DEFAULT ((1)) FOR [Status]
GO
/****** Object:  Default [DF_UserRole_CreateTime]    Script Date: 12/05/2016 18:18:16 ******/
ALTER TABLE [dbo].[M_UserRole] ADD  CONSTRAINT [DF_UserRole_CreateTime]  DEFAULT (getdate()) FOR [CreateTime]
GO
/****** Object:  Default [DF_M_Users_CreateTime]    Script Date: 12/05/2016 18:18:16 ******/
ALTER TABLE [dbo].[M_Users] ADD  CONSTRAINT [DF_M_Users_CreateTime]  DEFAULT (getdate()) FOR [CreateTime]
GO
/****** Object:  Default [DF_M_Users_Type]    Script Date: 12/05/2016 18:18:16 ******/
ALTER TABLE [dbo].[M_Users] ADD  CONSTRAINT [DF_M_Users_Type]  DEFAULT ((0)) FOR [Type]
GO
/****** Object:  Default [DF_M_Users_Status]    Script Date: 12/05/2016 18:18:16 ******/
ALTER TABLE [dbo].[M_Users] ADD  CONSTRAINT [DF_M_Users_Status]  DEFAULT ((0)) FOR [Status]
GO
/****** Object:  Default [DF_M_Users_Email]    Script Date: 12/05/2016 18:18:16 ******/
ALTER TABLE [dbo].[M_Users] ADD  CONSTRAINT [DF_M_Users_Email]  DEFAULT ('') FOR [Email]
GO
/****** Object:  Default [DF_M_Users_SourceType]    Script Date: 12/05/2016 18:18:16 ******/
ALTER TABLE [dbo].[M_Users] ADD  CONSTRAINT [DF_M_Users_SourceType]  DEFAULT ((0)) FOR [SourceType]
GO
/****** Object:  Default [DF_M_Users_AccountPwd]    Script Date: 12/05/2016 18:18:16 ******/
ALTER TABLE [dbo].[M_Users] ADD  CONSTRAINT [DF_M_Users_AccountPwd]  DEFAULT ('') FOR [AccountPwd]
GO
/****** Object:  Default [DF_M_Users_Avatar]    Script Date: 12/05/2016 18:18:16 ******/
ALTER TABLE [dbo].[M_Users] ADD  CONSTRAINT [DF_M_Users_Avatar]  DEFAULT ('') FOR [Avatar]
GO
/****** Object:  Default [DF_M_Users_UpdateTime]    Script Date: 12/05/2016 18:18:16 ******/
ALTER TABLE [dbo].[M_Users] ADD  CONSTRAINT [DF_M_Users_UpdateTime]  DEFAULT (getdate()) FOR [UpdateTime]
GO
/****** Object:  Default [DF_M_Users_LastLoginIP]    Script Date: 12/05/2016 18:18:16 ******/
ALTER TABLE [dbo].[M_Users] ADD  CONSTRAINT [DF_M_Users_LastLoginIP]  DEFAULT ('') FOR [LastLoginIP]
GO
/****** Object:  Default [DF_M_Users_SafeLevel]    Script Date: 12/05/2016 18:18:16 ******/
ALTER TABLE [dbo].[M_Users] ADD  CONSTRAINT [DF_M_Users_SafeLevel]  DEFAULT ((55)) FOR [SafeLevel]
GO
/****** Object:  Default [DF_M_Users_IsAdmin]    Script Date: 12/05/2016 18:18:16 ******/
ALTER TABLE [dbo].[M_Users] ADD  CONSTRAINT [DF_M_Users_IsAdmin]  DEFAULT ((0)) FOR [IsAdmin]
GO
/****** Object:  Default [DF_M_Users_Rebate]    Script Date: 12/05/2016 18:18:16 ******/
ALTER TABLE [dbo].[M_Users] ADD  CONSTRAINT [DF_M_Users_Rebate]  DEFAULT ((0.00)) FOR [Rebate]
GO
/****** Object:  Default [DF_M_Users_ChildCount]    Script Date: 12/05/2016 18:18:16 ******/
ALTER TABLE [dbo].[M_Users] ADD  CONSTRAINT [DF_M_Users_ChildCount]  DEFAULT ((0)) FOR [ChildCount]
GO
/****** Object:  Default [DF_M_Users_Layers]    Script Date: 12/05/2016 18:18:16 ******/
ALTER TABLE [dbo].[M_Users] ADD  CONSTRAINT [DF_M_Users_Layers]  DEFAULT ((1)) FOR [Layers]
GO
/****** Object:  Default [DF_M_Users_Description]    Script Date: 12/05/2016 18:18:16 ******/
ALTER TABLE [dbo].[M_Users] ADD  CONSTRAINT [DF_M_Users_Description]  DEFAULT ('') FOR [Description]
GO
/****** Object:  Default [DF_Menu_Type]    Script Date: 12/05/2016 18:18:16 ******/
ALTER TABLE [dbo].[Menu] ADD  CONSTRAINT [DF_Menu_Type]  DEFAULT ((1)) FOR [Type]
GO
/****** Object:  Default [DF_Menu_IsHide]    Script Date: 12/05/2016 18:18:16 ******/
ALTER TABLE [dbo].[Menu] ADD  CONSTRAINT [DF_Menu_IsHide]  DEFAULT ((0)) FOR [IsHide]
GO
/****** Object:  Default [DF_Menu_Sort]    Script Date: 12/05/2016 18:18:16 ******/
ALTER TABLE [dbo].[Menu] ADD  CONSTRAINT [DF_Menu_Sort]  DEFAULT ((0)) FOR [Sort]
GO
/****** Object:  Default [DF_Menu_Layer]    Script Date: 12/05/2016 18:18:16 ******/
ALTER TABLE [dbo].[Menu] ADD  CONSTRAINT [DF_Menu_Layer]  DEFAULT ((0)) FOR [Layer]
GO
/****** Object:  Default [DF_Menu_IsMenu]    Script Date: 12/05/2016 18:18:16 ******/
ALTER TABLE [dbo].[Menu] ADD  CONSTRAINT [DF_Menu_IsMenu]  DEFAULT ((1)) FOR [IsMenu]
GO
/****** Object:  Default [DF_Menu_IsLimit]    Script Date: 12/05/2016 18:18:16 ******/
ALTER TABLE [dbo].[Menu] ADD  CONSTRAINT [DF_Menu_IsLimit]  DEFAULT ((0)) FOR [IsLimit]
GO
/****** Object:  Default [DF_LotteryPlay_CreateTime]    Script Date: 12/05/2016 18:18:16 ******/
ALTER TABLE [dbo].[Plays] ADD  CONSTRAINT [DF_LotteryPlay_CreateTime]  DEFAULT (getdate()) FOR [CreateTime]
GO
/****** Object:  Default [DF_LotteryPlay_Status]    Script Date: 12/05/2016 18:18:16 ******/
ALTER TABLE [dbo].[Plays] ADD  CONSTRAINT [DF_LotteryPlay_Status]  DEFAULT ((0)) FOR [Status]
GO
/****** Object:  Default [DF_LotteryPlay_Layer]    Script Date: 12/05/2016 18:18:16 ******/
ALTER TABLE [dbo].[Plays] ADD  CONSTRAINT [DF_LotteryPlay_Layer]  DEFAULT ((1)) FOR [Layer]
GO
/****** Object:  Default [DF_UserAccount_AccountFee]    Script Date: 12/05/2016 18:18:16 ******/
ALTER TABLE [dbo].[UserAccount] ADD  CONSTRAINT [DF_UserAccount_AccountFee]  DEFAULT ((0.00)) FOR [AccountFee]
GO
/****** Object:  Default [DF_UserAccount_InAccount]    Script Date: 12/05/2016 18:18:16 ******/
ALTER TABLE [dbo].[UserAccount] ADD  CONSTRAINT [DF_UserAccount_InAccount]  DEFAULT ((0.00)) FOR [InAccount]
GO
/****** Object:  Default [DF_UserAccount_OutAccount]    Script Date: 12/05/2016 18:18:16 ******/
ALTER TABLE [dbo].[UserAccount] ADD  CONSTRAINT [DF_UserAccount_OutAccount]  DEFAULT ((0.00)) FOR [OutAccount]
GO
/****** Object:  Default [DF_UserAccount_CreateTime]    Script Date: 12/05/2016 18:18:16 ******/
ALTER TABLE [dbo].[UserAccount] ADD  CONSTRAINT [DF_UserAccount_CreateTime]  DEFAULT (getdate()) FOR [CreateTime]
GO
/****** Object:  Default [DF_UserAccount_UpdTime]    Script Date: 12/05/2016 18:18:16 ******/
ALTER TABLE [dbo].[UserAccount] ADD  CONSTRAINT [DF_UserAccount_UpdTime]  DEFAULT (getdate()) FOR [UpdTime]
GO
/****** Object:  Default [DF_UserAccount_InteFee]    Script Date: 12/05/2016 18:18:16 ******/
ALTER TABLE [dbo].[UserAccount] ADD  CONSTRAINT [DF_UserAccount_InteFee]  DEFAULT ((0.00)) FOR [InteFee]
GO
/****** Object:  Default [DF_UserAccount_DiscountFee]    Script Date: 12/05/2016 18:18:16 ******/
ALTER TABLE [dbo].[UserAccount] ADD  CONSTRAINT [DF_UserAccount_DiscountFee]  DEFAULT ((0.00)) FOR [DiscountFee]
GO
/****** Object:  Default [DF_UserAccount_InInteFee]    Script Date: 12/05/2016 18:18:16 ******/
ALTER TABLE [dbo].[UserAccount] ADD  CONSTRAINT [DF_UserAccount_InInteFee]  DEFAULT ((0.00)) FOR [InInteFee]
GO
/****** Object:  Default [DF_UserAccount_OutInteFee]    Script Date: 12/05/2016 18:18:16 ******/
ALTER TABLE [dbo].[UserAccount] ADD  CONSTRAINT [DF_UserAccount_OutInteFee]  DEFAULT ((0.00)) FOR [OutInteFee]
GO
/****** Object:  Default [DF_UserAccount_UpdUserID]    Script Date: 12/05/2016 18:18:16 ******/
ALTER TABLE [dbo].[UserAccount] ADD  CONSTRAINT [DF_UserAccount_UpdUserID]  DEFAULT ('') FOR [UpdUserID]
GO
/****** Object:  Default [DF_UserBanks_Status]    Script Date: 12/05/2016 18:18:16 ******/
ALTER TABLE [dbo].[UserBanks] ADD  CONSTRAINT [DF_UserBanks_Status]  DEFAULT ((0)) FOR [Status]
GO
/****** Object:  Default [DF_UserBanks_CreateTime]    Script Date: 12/05/2016 18:18:16 ******/
ALTER TABLE [dbo].[UserBanks] ADD  CONSTRAINT [DF_UserBanks_CreateTime]  DEFAULT (getdate()) FOR [CreateTime]
GO
/****** Object:  Default [DF_UserBanks_Type]    Script Date: 12/05/2016 18:18:16 ******/
ALTER TABLE [dbo].[UserBanks] ADD  CONSTRAINT [DF_UserBanks_Type]  DEFAULT ((1)) FOR [Type]
GO
/****** Object:  Default [DF_UserOrders_PayType]    Script Date: 12/05/2016 18:18:16 ******/
ALTER TABLE [dbo].[UserOrders] ADD  CONSTRAINT [DF_UserOrders_PayType]  DEFAULT ((0)) FOR [PayType]
GO
/****** Object:  Default [DF_UserOrders_PayFee]    Script Date: 12/05/2016 18:18:16 ******/
ALTER TABLE [dbo].[UserOrders] ADD  CONSTRAINT [DF_UserOrders_PayFee]  DEFAULT ((0.00)) FOR [PayFee]
GO
/****** Object:  Default [DF_UserOrders_TotalFee]    Script Date: 12/05/2016 18:18:16 ******/
ALTER TABLE [dbo].[UserOrders] ADD  CONSTRAINT [DF_UserOrders_TotalFee]  DEFAULT ((0.00)) FOR [TotalFee]
GO
/****** Object:  Default [DF_UserOrders_Type]    Script Date: 12/05/2016 18:18:16 ******/
ALTER TABLE [dbo].[UserOrders] ADD  CONSTRAINT [DF_UserOrders_Type]  DEFAULT ((0)) FOR [Type]
GO
/****** Object:  Default [DF_UserOrders_Num]    Script Date: 12/05/2016 18:18:16 ******/
ALTER TABLE [dbo].[UserOrders] ADD  CONSTRAINT [DF_UserOrders_Num]  DEFAULT ((0)) FOR [Num]
GO
/****** Object:  Default [DF_UserOrders_UpdTime]    Script Date: 12/05/2016 18:18:16 ******/
ALTER TABLE [dbo].[UserOrders] ADD  CONSTRAINT [DF_UserOrders_UpdTime]  DEFAULT (getdate()) FOR [UpdTime]
GO
/****** Object:  Default [DF_UserOrders_IP]    Script Date: 12/05/2016 18:18:16 ******/
ALTER TABLE [dbo].[UserOrders] ADD  CONSTRAINT [DF_UserOrders_IP]  DEFAULT ('') FOR [IP]
GO
/****** Object:  Default [DF_UserRelation_CreateTime]    Script Date: 12/05/2016 18:18:16 ******/
ALTER TABLE [dbo].[UserRelation] ADD  CONSTRAINT [DF_UserRelation_CreateTime]  DEFAULT (getdate()) FOR [CreateTime]
GO
/****** Object:  Default [DF_UserRelation_Layers]    Script Date: 12/05/2016 18:18:16 ******/
ALTER TABLE [dbo].[UserRelation] ADD  CONSTRAINT [DF_UserRelation_Layers]  DEFAULT ((1)) FOR [Layers]
GO
/****** Object:  Default [DF_Reply_Status]    Script Date: 12/05/2016 18:18:16 ******/
ALTER TABLE [dbo].[UserReply] ADD  CONSTRAINT [DF_Reply_Status]  DEFAULT ((0)) FOR [Status]
GO
/****** Object:  Default [DF_Reply_CreateTime]    Script Date: 12/05/2016 18:18:16 ******/
ALTER TABLE [dbo].[UserReply] ADD  CONSTRAINT [DF_Reply_CreateTime]  DEFAULT (getdate()) FOR [CreateTime]
GO
/****** Object:  Default [DF_UserReply_Type]    Script Date: 12/05/2016 18:18:16 ******/
ALTER TABLE [dbo].[UserReply] ADD  CONSTRAINT [DF_UserReply_Type]  DEFAULT ((0)) FOR [Type]
GO
/****** Object:  Default [DF_UserLog_Type]    Script Date: 12/05/2016 18:18:16 ******/
ALTER TABLE [dbo].[UsersLog] ADD  CONSTRAINT [DF_UserLog_Type]  DEFAULT ((0)) FOR [Type]
GO
/****** Object:  Default [DF_UserLog_IP]    Script Date: 12/05/2016 18:18:16 ******/
ALTER TABLE [dbo].[UsersLog] ADD  CONSTRAINT [DF_UserLog_IP]  DEFAULT ('') FOR [IP]
GO
